{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Hot Meals{% endblock %}</title>

    <link href="{% static 'MealOrder/css/food.css' %}" rel="stylesheet">
    <!--<link href="{% static 'MealOrder/css/css.css' %}"  rel="stylesheet">-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>
<body>

</body>
</html>

<html>
<body>
    <div id="messages">
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    </div>
    <!--<div id="content">-->
    <!--<div class="container">-->


    <!--</div>-->

<div class="container-fluid">
        <header>
            <section class="title">
                <div>
                    <p>Get food at anywhere you are</p>
                    <h1>WE EMBRACE VEGGIES & <br/>BERRIES.</h1>
                    <div id="order"><button><a style="text-decoration:none; color: #FFFFFF;" href="/">ORDER FOOD </a><i class="fas fa-location-arrow"></i></button></div>
                </div>

            </section>
            <section class="vector">
                <!--<img src="img/header_vecotr.svg" id="svg-left"/>-->
                <img src="{% static 'MealOrder/img/header_vecotr.svg' %}" id="svg-left"/>
                <div class="rect">
                    <button type="button"><a style="text-decoration:none; color: #FFFFFF;" href="/admin_view/add_meal.html/">Admin! Add Meal</a></button>
                    <button type="button"><a style="text-decoration:none; color: #FFFFFF;" href="/admin_view/all_orders/">Admin! View Orders</a></button>
                    <div>
                        <!--<div><img src="img/icons8-shopping-bag-filled-50.png"/></div>-->
                        <div><img src="{% static 'MealOrder/img/icons8-shopping-bag-filled-50.png' %}"/></div>
                        <div id="cercle"><div id="num"><p>+2</p></div></div>
                    </div>
                </div>
            </section>
        </header>

        <section class="list-order">
                {% block content %}
                {% endblock %}
        </section>




<!----------------------------------------END header------------------------------------------------------------->

<!----------------------------------------Start  section  N°1------------------------------------------------------>

<!----------------------------------------END section  N°1------------------------------------------------------>

<!---------------------------------------- Start Section N°2---------------------------------------------------->


<!---------------------------------------- END  Section N°2---------------------------------------------------->

<!---------------------------------------- Start Section N°3--------------------------------------------------->

<!---------------------------------------- END Section N°3--------------------------------------------------->

<!---------------------------------------- start Section N°--------------------------------------------------->


<!---------------------------------------- END  Section N°--------------------------------------------------->
</div>

</body>