/*******************************globale modifecation*************************/
body{
    margin:0;
}
.container{
    width:90%;
    margin:auto;
}
.container-fluid{
    padding: 0;
}
/*******************************globale modifecation*************************/

/*******************************header*************************/
header{
    display: flex;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
    height: 580px;
}
.vector{
    float: right;
}
#svg-left{
    position: absolute;
    z-index:-1;
    right:0;
    top:0;
    }
.vector .rect{
    position: absolute;
    display: flex;
    z-index:2;
    right:40px;
    top:30px;
}
.title{
    display: flex;
    flex-direction: column;
    margin-left:40px;
    margin-top:30px;
}
.title div{
    margin-top:100px;
    align-items: center;
    margin-left:20px;
}
.title div p ,.title div h1{
    margin-bottom:60px;

}
.title div p{
    font-size: 30px;
    line-height: 42px;
    color: #848792;

}
.title div h1{
    font-size: 50px;
    line-height: 75px;
    color: #848792;
}
.title button{
    background: none;
    border-radius: 15px;

}
.rect button{
    margin-right: 15px;
    align-self: center;
    color: white;
    width:140px;
    height: 30px;
    background: none;
    border:1px white solid;
    border-radius: 15px;
}
#cercle{
    position: absolute;
    top:0px;
    right: 0px;
    display: inline-block;
    border-radius: 50%;
    background-color: white;
}
#cercle #num{
    display: table-cell;
    vertical-align: middle; 
    text-align: center;  
    height:25px;
    width: 25px;
}
#num p{
    font-size:1.2em;
    color:#F58338;
    margin: 0px;
}
#order button {
    border:none;
    font-size: 18px; 
    outline: none;
    color:#fff;
    background: linear-gradient(90deg, rgba(245, 131, 56, 0.85) 0%, rgba(252, 169, 36, 0.83) 100%);
    padding: 10px;
    width:200px;
    border-radius:10px ;
    box-shadow: 6px 4px 20px rgba(0, 0, 0, 0.34);
    cursor: pointer;
  }
  #order{
    margin-left:0px;
    margin-top:30px;
    margin-bottom: 30px; 
    display: flex;
    
  }
  #order button:hover {
    transition: 0.6s ease;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.8);
  }

/*******************************header*************************/

/*** list-order section **/
.list-order {
    padding-top: 40px;
}
.list-order h1{
    text-align: center;
    position: relative;
    font-size: 28px;
    font-weight: bold;
}
.list-order h1::before{
    content: "";
    height: 4px;
    width: 25%;
    background: #bbb;
    position: absolute;
    left: 15%;
    top: 50%;
}
.list-order h1::after{
    content: "";
    height: 4px;
    width: 25%;
    background: #bbb;
    position: absolute;
    right: 15%;
    top: 50%;
}
.card-container{
    display: flex;
    justify-content: center;
    margin: 100px 0;
    flex-wrap: wrap;
}
.meal-card{
    width: 300px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 25px 10px 10px 10px;
    position: relative;
    margin: 50px;
}

.ribbon{
    border-right: 12px solid #fbcd11;
    border-left: 12px solid #fbcd11;
    border-bottom: 8px solid transparent;
    height: 45px;
    width: 0;
    position: absolute;
    top: 0;
    right: 35px;
}

.meal-card:hover{
    background: rgb(251,146,17);
    background: linear-gradient(0deg, rgba(251,146,17,1) 0%, rgba(217,97,42,1) 100%);
}

.meal-card:hover p{
    color: #fff;
}

.meal-card:hover .meal-weight{
    color: rgba(255,255,255,0.5);
}

.meal-card:hover .ribbon{
    border-right: 12px solid #fff;
    border-left: 12px solid #fff;
}

.meal-card:hover .order-btn{
    background: #fff;
    color: #000;
}
.order-btn{
    display: block;
    width: 150px;
    line-height: 40px;
    background: rgb(251,146,17);
    background: linear-gradient(0deg, rgba(251,146,17,1) 0%, rgba(217,97,42,1) 100%);
    margin: 20px auto;
    color: #fff;
    border-radius: 50px;
}
.meal-card img{
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto 25px auto;
    border-radius: 50%;
    object-fit: cover;
}

.meal-card + .meal-card{
    margin-left: 80px;
}

.meal-card h2{
    font-size: 26px;
}

.meal-card p{
    color: #999;
    font-size: 20px;
    margin-top: 40px;
}

.meal-info{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 15px;
}
.meal-info .meal-weight,
.meal-info .meal-price{
    font-size: 22px;
}
.meal-weight{
    color: #999;
}

/***Confirm Order***/

.confirm-order{
    background: #f58338;
    display: flex;
    margin: 0 0 150px 0;
    min-height: 540px;
}

.confirm-image{
    flex-grow: 1;
    background: red;
    background: url('https://images.pexels.com/photos/704569/pexels-photo-704569.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') no-repeat 50% 50%;
    background-size: cover;
    border-right: 5px solid #fff;

}

.confirm-form{
    flex-grow: 2;
}

.confirm-form h1{
    text-align: center;
    font-weight: bold;
    color: #fff;
    margin: 40px 0;
}

.input-holder{
    max-width: 500px;
    height: 60px;
    margin: 30px auto;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 20px;
    border-radius: 10px;
    overflow: hidden;
}
.input-holder label{
    font-weight: bold;
    font-size: 22px;
    color: #999;
    min-width: 150px;
}
.input-holder input,
.input-holder select{
    height: 60px;
    border: none;
    border-left: 1px solid #F58338;
    padding: 15px;
    box-sizing: border-box;
    font-size: 26px;
    min-width: 200px;
    max-width: 400px;
    font-weight: bold;
    color: #F58338;
}

.input-holder input[type="number"]{
    max-width: 200px;
}

.input-holder i{
    font-size: 30px;
    color: #F58338;
}

.form-footer{
    display: flex;
    max-width: 500px;
    margin: 50px auto 30px;
    justify-content: space-between;
}

.form-btn button{
    background: transparent;
    border: 3px solid #fff;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.order-price{
    font-size: 24px;
    font-weight: bold;
    background: #fff;
    padding: 0 20px;
    border-radius: 15px;
    line-height: 60px;
    color: #f58338;
}
.order-price::before{
    content: "$";
}

/*** success overlay ***/
.overlay{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    z-index: 999999;
}

.success-alert{
    max-width: 700px;
    background: #fff;
    margin: 30px auto;
    border-radius: 12px;
    padding: 30px;
    font-size: 32px;
}
.meal-image img{
    width: 700px;
    max-height: 400px;
    margin: 60px auto;
    display: block;
    border-radius: 12px;
    object-fit: cover;
}
.customer-details{
    text-align: left;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 30px;
}